@import '~video-react/styles/scss/video-react';

.death-race-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .death-race-img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin: 10px 0;

        @media (max-width: 360px - 1px) {
            padding: 20px;
        }
    }

    .death-race-text {
        max-width: 640px;
        margin: 20px 0 !important;

        @media (max-width: 360px - 1px) {
            margin: 5px 0 !important;
        }
    }
}